@use 'base/variables' as v;
@use 'base/mixins' as m;

.logo{
  img{
    width: 80px;
    height: 80px;
    display: inline-block;
    vertical-align: middle;
  }
}
 button {
   border: 0;
   padding: 0;
   background: transparent;
   color: inherit;
   cursor: pointer;
 }
 .navbar {
   z-index: 1;
   top: 0;
   left: 0;
   display: flex;
   align-items: center;
   justify-content: center;
   width: 100%;
   height: 64px;
   background: v.$claro;
   box-sizing: border-box;
  height: auto;
  padding: 1rem 0;
 }
  
 @media only screen and (min-width: 600px) {
   .navbar {
     justify-content: space-between;
   }
 }
  
 .navbar-overlay {
   position: fixed;
   z-index: 2;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   background: v.$cafe;
   visibility: hidden;
   opacity: 0;
   transition: 0.3s;
 }
  
 header.open .navbar-overlay {
   visibility: visible;
   opacity: 1;
 }
  
 @media only screen and (min-width: 600px) {
   .navbar-overlay {
     display: none;
   }
 }
  
 .navbar-burger {
   position: absolute;
   top: 0;
   left: 0;
   display: grid;
   place-items: center;
   width: 64px;
   height: 64px;
   padding: 0;
 }
  
 @media only screen and (min-width: 600px) {
   .navbar-burger {
     display: none;
   }
 }
  
 .navbar-title {
  display: flex;
  align-items: center;
  gap: 1rem;
  margin: 1rem 0;
  font-size: 2.2rem;
  color: v.$negro ;
  font-weight: 500;
  padding-left: 1.5rem;

  @include m.telefono{
  flex-direction: column;
  justify-content: center;
  margin-top: 1rem;
}

 }
  
 .navbar-menu {
   position: fixed;
   z-index: 3;
   top: 0;
   left: 0;
   translate: -100% 0;
   width: 270px;
   height: 100%;
   padding: 20px;
   display: flex;
   gap: 10px;
   flex-direction: column;
   align-items: flex-start;
   background: v.$cafe;
   visibility: hidden;
   transition: translate 0.3s;
 }
  
 body.open .navbar-menu {
   translate: 0 0;
   visibility: visible;
 }
 body.open .navbar-menu > button {
   color: v.$blanco;
   &:hover{
    color: rgb(174, 173, 173);
   }
 }
 @media only screen and (min-width: 600px) {
   .navbar-menu {
     position: static;
     translate: 0 0;
     width: auto;
     background: transparent;
     flex-direction: row;
     visibility: visible;
      
   }
 }
  
 .navbar-menu > button {
   color: v.$negro;
   background: transparent;
   padding: 0 8px;
   font-weight: 500;

   &:hover{
    border-bottom: 2px solid v.$negro;
   }
 }
  
 .navbar-menu > button.active {
   color: inherit;
 }
