@use 'base/variables' as v;
@use 'base/mixins' as m;

.contenido-hero{
    height: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-image:url(/src/img/fondo-hero.jpg);
}

.contenido-hero__info{
    width: 65%;
    background-color: v.$blanco;
    text-align: center;
    padding: 2rem;
    max-width: 80%;

    p{
        color: v.$texto;
    }

    .ultimo{
        color: v.$negro;
        font-weight: 400;
        margin-bottom: 3rem;
    }
    
    h2{
        font-weight: 500;
    }

    @include m.telefono{
        width: 80%;
        height: auto;
    }
}