@use 'base/variables' as v;

.contenido-hero{
    height: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-image:url(/src/img/fondo-hero.jpg);
}

.contenido-hero__info{
    width: 65%;
    background-color: v.$blanco;
    text-align: center;
    padding: 4rem;


    p{
        color: v.$texto;
    }

    .ultimo{
        color: v.$negro;
        font-weight: 400;
        margin-bottom: 3rem;
    }
    
    h2{
        font-weight: 500;
    }
}