@use 'base/variables' as v;

.contenido-hero{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 600px;
    background-image: url(/src/img/fondo-hero.jpg);
    background-size: cover;
}
.contenedor-info{
    width: 80%;
    box-sizing: border-box;
    padding: 4rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: v.$blanco;
    h2{
        font-weight: 500;
    }

    p{
        color: v.$texto;
    }

    button{
        width: 50%;
        height: 8rem;
        background-color: v.$cafe;
        border-radius: 1rem;
        border: none;
        color: v.$blanco;
        margin-top: 2rem;
    }
}
.contenido-hero__info{
    width: 80%;
    text-align: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}