@use 'base/variables' as v;
@use 'base/mixins' as m;

.servicios{
    margin: 0 auto;
    text-align: center;
    padding: 4rem 0 4rem 0 ;
    width: 80%;
}

.contenedor-servicios{
    display: flex;

    @include m.telefono{
        flex-direction: column;
        text-align: left;
    }
    
    @include m.telefono{
        .servicio{
            border-bottom: 2px solid v.$claro;
    
            &:last-child{
                border-bottom: 0;
            }
    }
    }
    h3{
        margin: 2rem 0 1.5rem 0;
        font-weight: 600;
    }
    p{
        max-width: 90%;
        word-wrap: break-word;
    }

    p:nth-of-type(2){
        font-size: 2rem;
        font-weight: 500;
        margin-bottom: 4rem;
    }
}