@use 'base/variables' as v;

.servicios{
    margin: 0 auto;
    text-align: center;
    padding: 4rem 0 4rem 0 ;
    width: 80%;
}

.contenedor-servicios{
    display: flex;
    justify-content: center;
    justify-content: space-around;

    p{
        max-width: 90%;
        word-wrap: break-word;
    }

    p:nth-of-type(2){
        font-size: 2rem;
        font-weight: 500;
    }
}